[2016-04-21 20:20] thinkingserious opened #1 "Rename Request and Response objects"
#### Issue Summary

Generally, instead of request.requestBody it should be request.body

This will be a breaking change.

[2016-05-20 17:06] depsypher opened #2 "Replace Httpcore dependency"
#### Issue Summary

Because sendgrid/java-http-client depends on org.apache.httpcomponents/httpcore, this library is necessary under google appengine in order to stay under socket connection quotas:
https://github.com/sendgrid/sendgrid-google-java

But it looks like that library is soon to be very out of date with the latest sendgrid apis. It would be great if java-http-client could remove that de

[2016-05-20 17:55] thinkingserious commented on #2
Hello @depsypher,

Thanks for the issue!

The new, supported, library can be found here: https://github.com/sendgrid/sendgrid-java/tree/v3beta, it will be out of beta in a few weeks.

I did not see anything in the https://github.com/sendgrid/sendgrid-google-java library that deals with socket connection quotas, could you please elaborate?

We have the org.apache.httpcomponents/httpcore dependency

[2016-05-20 18:39] depsypher commented on #2
Very interesting. I didn't know that about PATCH. I found a couple workarounds, but I'm not sure which is the better one:

https://java.net/jira/browse/JERSEY-639
http://stackoverflow.com/questions/25163131/httpurlconnection-invalid-http-method-patch

The background regarding appengine is that it's a bit of a strange beast and java code there runs on a google-modified jdk. That jdk whitelists cert

[2016-05-20 18:46] thinkingserious commented on #2
@depsypher,

Thanks for the detailed response! We are not deprecating the v2 version of our mail send endpoint, so you are good there.

The first link is something I have not tried, but the second does not work in my tests.

In September, Java will get an update where the HTTP core library will support PATCH. I'm hoping this will be a solid solution. We were able to use core HTTP libraries on all

[2016-06-23 19:04] wujie8x8 opened #4 "Request cannot send utf_8 charset when the body is not null"
#### Issue Summary

I try to use the sendgrid template and I set the personalization, but one value like this : "Ir├â┬¿ne"  this is word using utf-8 charset.  I have set headers
requestHeaders.put("Content-Type", "application/json; charset=utf-8");
request.headers = requestHeaders;
But the return is : org.apache.http.client.HttpResponseException: Unsupported Media Type

 I use sendgrid 2.2.2 is ok

[2016-06-24 21:16] toran414 commented on #4
I am having this same type of issue, and if I put apache httpclient on DEBUG I can see it returns "Unrecognized UTF8 Byte at position 254".  This seems to be because when creating Entities, the client class doesn't specify a Charset or Character Encoding (https://github.com/sendgrid/java-http-client/blob/master/src/main/java/com/sendgrid/Client.java#L210), so it defaults to ContentType.TEXT_PLAIN

[2016-06-24 21:24] thinkingserious commented on #4
@toran414 would you like put in a pull request? If so, could you please sing our CLA: https://github.com/sendgrid/java-http-client/blob/master/CONTRIBUTING.md#cla

[2016-06-28 21:31] #1 closed, assigned to nobody

[2016-06-30 00:01] DanailMinchev commented on #4
I was debugging and noticed the same problem with Cyrillic symbols .. just need to replace `new StringEntity(request.body)` with `new StringEntity(request.body, "UTF-8")` as @toran414 suggested.

@toran414 could you please create PR
or @thinkingserious could you patch this please?

Thank you

[2016-06-30 03:43] goldbattle commented on #4
For people looking for a quick fix, you can remove all invalid utf-8 chars from your email string.

[code]

[2016-06-30 11:04] DanailMinchev commented on #4
@goldbattle I want to use `UTF-8` characters, not remove them

[2016-06-30 14:41] goldbattle commented on #4
For my application it was not needed, it doesn't fix the root cause. Just
thought it would help people if they make do with striping the chars.
On Jun 30, 2016 7:04 AM, "Dan" notifications@github.com wrote:

[2016-07-08 20:55] thinkingserious commented on #4
This issue should be fixed in version 2.3.1 (just released)

Thanks again @DanailMinchev

[2016-07-08 20:55] #4 closed, assigned to nobody

[2016-07-11 10:08] kikutaro opened #6 "Multi-byte character got garbled on received mail."
#### Issue Summary

When I was sending mail with Japanese multi-byte character via sendgrid-java v3.0.2, the received mail contents got garbled.Ex. こんにちは -> ?????

![capture2](https://cloud.githubusercontent.com/assets/5179168/16727010/f795b4e0-4799-11e6-83fa-ea3fb31bd211.JPG)

Pretty similar #4 but this is not sending but receiving.
#### Steps to Reproduce

Following simple code.

[code]

I tried

[2016-07-11 10:29] kikutaro commented on #6
@thinkingserious I checkd the code both sendgrid-java and java-http-client.
I think the response also needs Charset UTF-8 like following.

[code]

I tried this on my fork code, and it worked.
![solve](https://cloud.githubusercontent.com/assets/5179168/16727783/beff0de4-479d-11e6-969b-e783444ea2a5.JPG)
This caused by the default encoding is ISO-8859-1 of HttpClient's Response Body.
http://hc.apache

[2016-07-13 21:18] thinkingserious opened #8 "Allow a timeout value to be set"
These values should be configurable

.setSocketTimeout(timeout)
.setConnectTimeout(timeout)
.setConnectionRequestTimeout(timeout)

[2016-07-13 21:27] ikatkov commented on #8
Created a PR for reference. Since I have not signed CLA I don't expect it to be merged.

[2016-07-17 19:21] sagar15bhavsar opened #9 "java.lang.ClassNotFoundException: Didn't find class "org.apache.http.impl.client.HttpClients""
I am getting

java.lang.ClassNotFoundException: Didn't find class "org.apache.http.impl.client.HttpClients"

Please help !

[2016-07-18 16:14] thinkingserious commented on #9
Hello @sagar15bhavsar,

It sounds like your dependencies did not load correctly. Could you please provide us with some additional details about your development environment? Particularly, how did you install the library?

[2016-07-18 16:51] sagar15bhavsar commented on #9
I have installed library using Gradle.
![screen shot 2016-07-18 at 10 12 30 pm](https://cloud.githubusercontent.com/assets/1187797/16923037/e623fc98-4d35-11e6-84e0-ca60c4cce152.png)

[2016-07-18 17:13] thinkingserious commented on #9
Thanks!

You can remove `compile 'com.sendgrid:java-http-client:2.3.1` since sendgrid-java already has that dependency.

[2016-07-18 17:13] #9 closed, assigned to nobody

[2016-07-18 17:31] sagar15bhavsar commented on #9
I removed it. Still getting error.

[2016-07-18 19:21] thinkingserious commented on #9
It looks like that library has been deprecated in Android, here are a few workarounds that may help:

http://stackoverflow.com/questions/32960599/android-cannot-access-org-apache-http-client-httpclient
http://www.mkyong.com/java/the-type-defaulthttpclient-is-deprecated
http://stackoverflow.com/questions/30423677/dependency-issues-in-reference-project

[2016-07-24 11:36] boazca opened #10 "Improve Error Handling"
In The Client you use BasicResponseHandler to handle the response.
The problem is that when the status code is >= 300 HttpResponseException is thrown, ignoring the response body.
In Sendgrid v3 web API all the details of the failure are in the response body.
so when there is a failure, you have no information about what caused the problem.

You should either insert the response body to the excepti

[2016-07-25 16:58] thinkingserious commented on #10
Thanks for the feedback @boazca!

This is on our roadmap and we appreciate your detailed feedback. I'll leave this ticket open to track when we implement this.

[2016-07-27 00:05] ikatkov commented on #8
ping?

[2016-07-27 00:56] thinkingserious commented on #8
Thanks for the ping @ikatkov,

I see that three others have upvoted this issue, so I've updated our internal queue to help push this issue higher in the backlog.

The issue can continue to rise in the queue by:
1. More upvotes or comments
2. A pull request with a signed CLA

[2016-08-04 21:39] thinkingserious commented on #2
For reference: http://android-developers.blogspot.be/2011/09/androids-http-clients.html

[2016-08-08 17:15] thinkingserious commented on #10
@boazca,

This issue is resolved now: https://github.com/sendgrid/java-http-client/releases/tag/v2.3.3

Thanks again for the feedback!

I'll next be updating the dependency at sendgrid-java

[2016-08-08 17:15] #10 closed, assigned to nobody

[2016-08-09 17:08] thinkingserious commented on #6
https://github.com/sendgrid/java-http-client/releases/tag/v2.3.4

[2016-08-09 17:08] #6 closed, assigned to nobody

[2016-09-16 20:48] thinkingserious opened #12 "The public Response variables should be private"
#### Issue Summary

These public Response variables should be private and accessible via getters/setters: https://github.com/sendgrid/java-http-client/blob/master/src/main/java/com/sendgrid/Response.java#L9

[2016-09-16 20:50] thinkingserious opened #13 "Update the Request object with sensible defaults and access methods"
#### Issue Summary

In the Request we have:

[code]

set to null when the object gets instantiated.

This could definitely cause JAVA developer errors as they might assume the headers map to be at least instantiated and empty.

In fact in this example:

[code]

The user is forced to instantiate a new one and assign it while the developer could simply:
`request.headers.put("Authorization","Bearer Y

[2016-10-05 05:17] diegoc-am commented on #12
Hi, I'll try to help

[2016-10-05 07:01] diegoc-am commented on #13
Hello, submitted a PR, what I'm not sure about is if we want to make all the variables in the Request class private and have setters and getters. Only updated the maps

[2016-10-05 16:45] thinkingserious commented on #13
Hi @belfazt,

I've added some comments to the PR. Thanks!

I would suggest we make all the variables private and have setters and getters.

[2016-10-06 04:14] diegoc-am commented on #13
Hi @thinkingserious,

I think I got to what you wanted

[2016-10-07 02:41] #13 closed, assigned to nobody

[2016-10-10 17:27] dmaicher commented on #8
This would also be solved with https://github.com/sendgrid/sendgrid-java/pull/158

[2016-10-11 21:33] #8 closed, assigned to nobody

[2016-10-11 21:33] thinkingserious commented on #8
Solved with https://github.com/sendgrid/sendgrid-java/pull/158

[2016-10-11 23:15] #12 closed, assigned to nobody

[2016-11-04 16:07] jmadureira opened #18 "mockito-core runtime dependency"
#### Issue Summary

The current build.gradle configuration specifies mockito-core has a runtime dependency as opposed to the pom.xml which includes it as a test dependency.

You seem to be using Gradle for publishing since the current 4.0.0 version dependency tree has mockito-core scoped to runtime.
Is this expected or should it be scoped to test?

#### Technical details:

* java-http-client Versi

[2016-11-08 05:09] thinkingserious commented on #18
Hello @jmadureira,

You are correct, it should be scoped to test.

I've added this to our backlog for a fix.

[2017-03-15 11:48] PrinceVarshney opened #19 "Attachment Name does not show Norwegian Characters"
#### Issue Summary

I am new to SendGrid, I wanted to send a mail with attachment having Norwegian characters in the name. Receiver is receiving the mail but the name contains Å instead of Ø. Saw the Client class , it contains the change for UTF characters

sendgrid-java v3.1.0 is being used. Not using the java-http-client. I visited few related issues but was not able to get which api version inc

[2017-03-15 17:06] thinkingserious commented on #19
Hello @PrinceVarshney,

I believe you are asking for us to update the [dependency in sendgrid-java](https://github.com/sendgrid/sendgrid-java/blob/master/build.gradle#L48) to support v4.1.0 of this library. Correct?

If so, here is the ticket for that: https://github.com/sendgrid/sendgrid-java/pull/162 -- I will add your vote to that issue to grant it higher priority.

With Best Regards,

Elmer

[2017-03-15 18:25] PrinceVarshney commented on #19
Hei @thinkingserious
I am not able to get why its converting Ø -->Å , because the Client.java class has the UTF-8 support then why  I am facing the issue.. ? Is this because of the dependency thats not included in sendgrid-java v3.1.0 ,I can externally include the dependency of httpClient if its required. But will it help. ? I need a urgent fix as we are moving in production in few days.

Please h

[2017-03-15 18:50] thinkingserious commented on #19
Hello @PrinceVarshney,

I'm not sure what is causing that issue, I am attempting to clarify with you.

Let me make sure my assumptions are correct:

1. You are using the sendgrid-java SDK v3.1.0.
2. I think that a similar issue was fixed with this PR: https://github.com/sendgrid/java-http-client/pull/5

Also, can you please provide me with the sample file so that I can try to re-create the issue?

[2017-03-16 10:51] PrinceVarshney commented on #19
@thinkingserious

Yeah I am using sendgrid-java SDK v3.1.0.

We are creating runtime content and the name of the pdf visible to the user is
Pris og oppgjÃ¸rsvilkÃ¥r.pdf

that should be
Pris og oppgjørsvilkår.pdf

This is where I am attaching the file

Attachments attachments=new Attachments();
        Charset.forName("UTF-8").encode(attachmentName);
        attachments.setFilename(attachmentName);

[2017-03-16 16:30] thinkingserious commented on #19
Hello @PrinceVarshney,

I was unable to reproduce the error, here is the code I used:

[code]

Perhaps the value in `attachmentName` is getting changed before you pass it into the `setFilename` function.

[2017-03-16 17:14] PrinceVarshney commented on #19
Hey @thinkingserious
I hardcoded the value in the attachment name, then also I was facing the same error. You are using the same version of sendgrid-java. ?

[2017-03-16 17:16] thinkingserious commented on #19
@PrinceVarshney,

Yes, I am using the latest version 3.1.0.

Can you check the encoding on your source code editor?

[2017-03-16 17:58] PrinceVarshney commented on #19
@thinkingserious

Will it matter. ? I think you are talking about eclipse. ?

Whats the use of below line ?

sg.addRequestHeader("X-Mock", "true");

[2017-03-16 17:59] thinkingserious commented on #19
That line can be ignored, it is for when we use our local testing server. I just tried without that line with the same result.

For Eclipse: http://stackoverflow.com/questions/9180981/how-to-support-utf-8-encoding-in-eclipse

[2017-03-16 18:11] PrinceVarshney commented on #19
My request in the logs is printed  correctly :
"type":"application/pdf","filename":"Pris og oppgjørsvilkår.pdf","disposition":"attachment"}

so does the eclipse encoding will matter.. ?

[2017-03-16 18:15] thinkingserious commented on #19
I'm not sure.

Can you please try sending your test email to elmer.thomas@sendgrid.com?

[2017-03-16 19:58] PrinceVarshney commented on #19
@thinkingserious

I have sent one mail on this id. One thing I observed that the issue is with MicrosoftOutlook only, in gmail its fine.

[2017-03-16 20:04] thinkingserious commented on #19
Hello @PrinceVarshney,

I have received the email correctly in GMail. Since the filename is correct on your server and in GMail, it appears the issue is with Outlook and that it might be a [known problem](https://answers.microsoft.com/en-us/msoffice/forum/msoffice_outlook-mso_other/outlook-wont-show-special-characters-norwegian/fe87d882-594e-425a-a117-8f7869e9223b).

I'm going to leave this issue

[2017-03-16 20:09] PrinceVarshney commented on #19
Hey @thinkingserious

I need to have some workaround for the same, as most of the clients of our projects are using Outlook only.

[2017-03-17 17:28] thinkingserious commented on #19
Hello @PrinceVarshney,

I have added this to our backlog for further review.

[2017-03-17 18:00] thinkingserious commented on #19
Hi @PrinceVarshney,

Can you please try:

`attachments.setFilename("=?utf-8?Q?Pris=20og=20oppgj=C3=B8rsvilk=C3=A5r.pdf?=");`

Thanks!

Elmer

[2017-03-17 18:14] PrinceVarshney commented on #19
Hi @thinkingserious

Will try this and will inform you regarding the same.

Thanks!!

[2017-03-17 20:09] PrinceVarshney commented on #19
Hey @thinkingserious

This is not working. This is giving =utf-8QPris=20og=20oppgj=C3=B8rsvilk=C3=A5r.pdf

Thanks

[2017-03-17 20:24] thinkingserious commented on #19
Hello @PrinceVarshney,

What version of Outlook are you using?

[2017-03-17 20:28] thinkingserious commented on #19
@PrinceVarshney,

Can you email me with your Outlook email address so I can try sending a test to you?

[2017-03-17 20:30] PrinceVarshney commented on #19
@thinkingserious
version of outlook : 14.0.7177.5000

[2017-03-17 20:33] PrinceVarshney commented on #19
@thinkingserious
I have sent you a mail

[2017-03-17 20:51] PrinceVarshney commented on #19
@thinkingserious

Hey Its working

I attached this MimeUtility.encodeText("string", "UTF-8", "Q")
 while setting the attachmentName :

mail.setAttachmentName(MimeUtility.encodeText("Pris og oppgjørsvilkår.pdf", "UTF-8", "Q"))

First we have to encode it as per Q-encoded
Thanks

[2017-03-17 20:54] thinkingserious commented on #19
@PrinceVarshney,

That's awesome and thanks for sharing the solution! I'm going to keep this ticket open so that we can add this to the SDK.

For your efforts, we would like to offer you some swag. Please fill out [this form](https://docs.google.com/forms/d/e/1FAIpQLSelP4uF-wGJebxVYq1DYw5WzHomEUauab3YiqrshyCkRs0fqw/viewform#start=invite) for us :)

[2017-03-17 21:00] PrinceVarshney commented on #19
@thinkingserious

Thank you !! Will fill the form once outside office network :)

[2017-03-24 13:30] PrinceVarshney opened #20 "Class not found SendGridResponseHandler"
#### Issue Summary

I am getting classnotFound: SendgridResponseHandler, sometimes I am getting java.lang.ClassNotFoundException: org.apache.http.impl.client.AbstractResponseHandler but the mail is being sent. While fetching the response data , it is giving this error. I suppose some mismatch of jar versions.

#### Technical details:

* java-http-client Version: 4.1.0
* Java Version: 1.7
* SendGri

[2017-03-27 17:12] thinkingserious commented on #20
Hello @PrinceVarshney,

Please follow this issue: https://github.com/sendgrid/sendgrid-java/pull/162

Thanks!

[2017-03-27 17:12] #20 closed, assigned to nobody

[2017-04-18 22:00] thinkingserious commented on #2
Note:

Consider replacing with https://github.com/google/google-http-java-client

[2017-05-28 02:59] dougouk commented on #2
EDIT: nvm, I see that this is an on-going issue.

The link https://github.com/sendgrid/sendgrid-java/tree/v3beta no longer works.

Is there a fix for this?

Is the fix "replacing with https://github.com/google/google-http-java-client"?

[2017-05-28 03:53] thinkingserious commented on #2
Hi @dougouk,

I believe the fix is to replace the http client with the google-http-java-client. Unless the native Java client has caught up.

In any case, I've added your vote to this issue to help increase it's priority.

Thanks!

[2017-05-28 04:02] dougouk commented on #2
@thinkingserious

I tried replacing the http client, but it didn't fix the issue.

The SendGrid API looks for the http client, not the google-http-java-client in the code, so replacing it doesn't fix the issue.

I am actually more specifically here for the following closed issue https://github.com/sendgrid/sendgrid-java/issues/127 but the issue redirects me to this thread.

All I'm trying to do is

[2017-05-28 04:16] thinkingserious commented on #2
I apologize for not being clear. This is an open issue. We need to actually replace the current client with the google-http-java-client. It will not be as simple as just replacing the client, I don't think. I believe the google-http-java-client probably has a different interface to the apache http client.

[2017-09-12 16:11] maximn opened #21 "When creating a `new Client` allow suppling both underlying client and isTest parameter"
#### Issue Summary

I want to supply an underlying HTTP Client to be able to set a timeout and as well set the `test` property.

Currently, these are the constructors exists-
	public Client()
	public Client(CloseableHttpClient httpClient)
	public Client(Boolean test)

I will add another constructor that gets these two parameters.

Seems that the intention of passing the http was for mocking but an

[2017-09-12 20:40] thinkingserious commented on #21
Thank you @maximn!

[2017-10-02 06:52] ubaldop commented on #18
May I take this?

[2017-10-02 19:09] thinkingserious commented on #18
@P3trur0,

Yes please, thanks!

[2017-10-10 15:22] mbernier opened #28 "TravisCI failing with bad JAVA_HOME env var"
#### Issue Summary

When travis is running, it is failing during the call to gradlew because of a faulty JAVA_HOME variable. please see the builds here: https://github.com/sendgrid/java-http-client/pull/27

#### Steps to Reproduce

1. Make a PR
2. Wait
3. Travis Builds and shows an error in the log (click the summary box to see it)

[2017-10-10 20:49] thinkingserious opened #31 "Add a Code Of Conduct"
Add a file to the root of this repo called CODE_OF_CONDUCT.md, with the content from the [same file in our docs repo](https://github.com/sendgrid/docs/pull/3048).

[2017-10-10 21:48] nightrainlily commented on #31
hi, I'll give this one a go.

[2017-10-10 21:54] mbernier commented on #31
Nice!! Thank you!

[2017-10-11 22:03] #31 closed, assigned to nobody

[2017-10-12 14:57] andy-trimble commented on #2
@thinkingserious I got this one.

[2017-10-12 22:19] #28 closed, assigned to nobody

[2017-10-17 16:16] thinkingserious opened #37 "Demonstrate how to review the request body for troubleshooting"
When debugging, it can be useful to examine the request body before sending to the SendGrid API.

Prove an example of how to examine the request body in TROUBLESHOOTING.md. For an example, see [here](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#request-body).

[2017-10-17 20:06] vkdrn commented on #37
@thinkingserious Hi. I'll take this one

[2017-10-20 22:06] thinkingserious opened #38 "Update .md files for SEO-ness"
We received an awesome PR for #hacktoberfest on our [ruby library](https://github.com/sendgrid/sendgrid-ruby/pull/220)
We would love to see the same thing on the README in this repo as well.
Please replace the "-" with "_"  in README, CONTRIBUTING, USE_CASES, USAGE files.

Thanks and happy Hacktoberfest!!

[2017-10-20 22:20] thinkingserious opened #39 "Add/Update Badges on README"
Similar to what was done on [the SendGrid node README](https://github.com/sendgrid/sendgrid-nodejs/pull/486):
- put the logo at the top of the list
- Add [License like so](https://github.com/sendgrid/sendgrid-php/pull/476)
- make sure the other badges are available like so:
[code]
For the following, make sure the correct repo is linked!
For email notifications, you can change the "nodejs" to the l

[2017-10-21 05:32] deepapanwar commented on #19
Can I pick this issue?

[2017-10-22 01:29] #38 closed, assigned to nobody

[2017-10-22 01:31] #39 closed, assigned to nobody

[2017-10-22 19:31] mptap commented on #37
@thinkingserious: Here's https://github.com/sendgrid/java-http-client/pull/42 in case it's still up for grabs

[2017-10-24 03:05] mbernier opened #44 "gradle failure with openjdk7 in TravisCI"
#### Issue Summary

There is a gradle error when running against OpenJDK7 in TravisCI.

See here: https://travis-ci.org/sendgrid/java-http-client/builds/291643842?utm_source=github_status&utm_medium=notification

Specifically the error is:
[code]

[2017-10-24 04:41] kazoni commented on #44
Fixed by #45, Java 7 support in gradle being depreciated per https://github.com/gradle/gradle/issues/2421#issuecomment-330890645

[2017-10-26 12:49] diegorramos commented on #44
Fixed, by PR #46

[2017-10-26 20:14] thinkingserious opened #47 "Create a PULL_REQUEST_TEMPLATE"
#### Issue Summary

We would like to have a template for describing what has changed in the pull request being submitted.

[Github docs on this](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/)

You can use [this file](https://github.com/sendgrid/open-source-library-data-collector/blob/master/.github/PULL_REQUEST_TEMPLATE.md) as an example

[2017-10-27 00:01] thinkingserious opened #49 "Add a .env_sample file"
Our preference is that users have an environment file when using the SendGrid API, because it is less likely that someone would commit their credentials to github.

Please make a couple changes:
- make a .env_sample file that contains: `export SENDGRID_API_KEY=''`
- make (or add) a .gitignore file and include `.env`
- add instructions to the README file about how to copy .env_sample to .env and ad

[2017-10-27 00:11] mbernier opened #50 "Java docker container"
#### Issue Summary

It is really nice to be able to develop locally inside a docker container!  Please dockerize this repo!
- You can probably use the [Dockerfile for sendgrid-java](https://github.com/sendgrid/sendgrid-java/pull/245)
- Please setup docker-compose to use a local volume for the library files (this is currently different from sendgrid-java)
- Please add information to the README and

[2017-10-27 00:33] mbernier opened #51 "Add a TROUBLESHOOTING.md file here please"
#### Issue Summary

Borrow the file from [sendgrid-java](https://github.com/sendgrid/sendgrid-java/blob/master/TROUBLESHOOTING.md) and modify it to fit this repo!

Please make sure you show how to output the SMTPAPI header

[2017-10-27 00:39] thinkingserious opened #53 "Add a USAGE.md file"
Usage files are really nice when they exist in a repo, because it makes it really obvious where to look for information about how to use this tool. It can be frustrating when you expect this file to be there and it's not.
Please add a USAGE.md file, you can see an example of this
[here](https://github.com/sendgrid/sendgrid-python/blob/master/USAGE.md)

Please make sure you modify the file for this

[2017-10-27 05:18] #47 closed, assigned to nobody

[2017-10-27 22:44] mptap commented on #51
@mbernier: PR: https://github.com/sendgrid/java-http-client/pull/56

[2017-10-28 04:34] thinkingserious opened #57 "Add a .codeclimate.yml file to this repo"
It is possible to configure how CodeClimate looks at a repository.
[These Docs](https://docs.codeclimate.com/docs/getting-started-configuration) explain how this is done. Please create an appropriate .codeclimate.yml for this repo. It should test the main language of the repo and run tests.

[2017-10-28 14:15] #51 closed, assigned to nobody

[2017-10-28 15:25] thinkingserious opened #60 "Update the license file to have the correct date range"
This license file might have the wrong end year (2017). If this is the case, please make a PR that updates the year. If the year is correct, please close this issue!

[2017-10-28 15:31] thinkingserious opened #61 "Add a unittest to check the license.md file date range"
The end year in the license file should be "this year" and this should be checked on every run of the tests. If the end year is no correct, fail the test.
example:

It is 2017, so this should be:

and the  test should fail.
--done

[2017-10-28 15:39] thinkingserious opened #62 "Add unittest to check for specific repo files"
This repo should have the following list of files included:
- ./Docker or docker/Docker
- ./docker-compose.yml or ./docker/docker-compose.yml
- ./.env_sample
- ./.gitignore
- ./.travis.yml
- ./.codeclimate.yml
- ./CHANGELOG.md
- ./CODE_OF_CONDUCT.md
- ./CONTRIBUTING.md
- ./.github/ISSUE_TEMPLATE
- ./LICENSE.md
- ./.github/PULL_REQUEST_TEMPLATE
- ./README.md
- ./TROUBLESHOOTING.md
- ./USAGE.md
- ./

[2017-10-28 20:18] pjhampton commented on #62
<strike>I've got this 👍 </strike>
Looks like @mptap got there before me. PR looks awesome btw 😄

[2017-10-28 20:33] mptap commented on #62
@thinkingserious: PR: https://github.com/sendgrid/java-http-client/pull/65

[2017-10-28 20:39] mptap commented on #62
@pjhampton: Ahhh didn't mean to step on your toes! Thanks though :)

[2017-10-29 03:10] #62 closed, assigned to nobody

[2017-10-29 15:38] bhavin192 opened #69 "404 not found at LICENSE link from README.md"
#### Issue Summary
Clicking on the License badge or license link at the bottom from `README.md` gives `404 error`.

#### Steps to Reproduce
Click on license badge or license link from `README.md`

#### Technical details:
LICENSE file was renamed to `LICENSE.md` from `LICENSE.txt`

[2017-10-29 16:46] #69 closed, assigned to nobody

[2017-10-30 04:56] thinkingserious opened #71 "Breakup examples/Example.java"
Method `main` has 78 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/sendgrid/java-http-client/examples/Example.java#issue_59f605efe958ed0001000025

[2017-10-30 04:57] thinkingserious opened #72 "Fix "identical-code" issue in examples/Example.java"
Identical blocks of code found in 5 locations. Consider refactoring.

https://codeclimate.com/github/sendgrid/java-http-client/examples/Example.java#issue_59f605f2e958ed000100002c

Heads up! This may end up conflicting with #71

[2017-10-30 10:17] huytranrjc commented on #71
I created [PR73](https://github.com/sendgrid/java-http-client/pull/73/files)
Please review

[2017-10-30 17:14] mbernier opened #74 "Add CodeCov support to .travis.yml"
Issue Summary

Add these entries to the .travis.yml file so codecov reports show up!

https://github.com/codecov/example-java/blob/master/.travis.yml

[2017-10-31 03:01] #57 closed, assigned to nobody

[2017-10-31 04:05] #61 closed, assigned to nobody

[2017-10-31 16:05] mbernier opened #81 "Hacktoberfest: SendGrid Current Status"
## SendGrid DX team current status:
- Wow
- OMG
- THANK YOU

Hacktoberfest 2017 has completely blown us away. We have had over 900 pull requests from over 300 contributors all in the last 30 days. That is more PRs than we normally get in 2 years!
We are actively working to review, comment, and/or merge as many PRs as we possibly can as quickly as we can.

We are currently working on “intaking” all

[2017-10-31 19:13] thinkingserious opened #82 "Add Code Review to Contributing.md"
- Add a "Code Reviews" section on CONTRIBUTING.md
- Put the following under the header:

- Link the header in the Contributing.md Table of Contents
- Add a link to the README.md file: [Review Pull Requests]("CONTRIBUTING.md#Code-Reviews") under "Contributing Section"

[2017-10-31 19:32] mbernier opened #83 "Clean up Usage in README"
#### Issue Summary

Move the example and the link to the examples files to the USAGE.md File
Move the Environment variable information to USAGE.md
Remove the Usage Header from README
Change the link in the Table of Contents of README to go to USAGE.md File

[2017-10-31 19:40] rareinator commented on #83
Can do that

[2017-10-31 20:15] thinkingserious opened #87 "Create a Use Cases Directory"
Due to the success we have seen from hacktoberfest, we are seeing more people create use cases. This is amazing!
We want to make sure that everyone can find them. Please help us to break up this file and make it easier to read and manage:
- Create a Use Cases Directory
- Put a README.md in this directory
- Make a file in the new directory for each individual Use Case from USE_CASES.md, copy the co

[2017-10-31 23:03] jamietanna commented on #87
~I'll pick this one up~ This one doesn't seem to have a `USE_CASES.md`, is this still relevant, @thinkingserious ?

[2017-11-13 15:12] #50 closed, assigned to nobody

[2017-11-22 16:42] #72 closed, assigned to nobody

[2017-11-30 21:18] #71 closed, assigned to nobody

[2017-12-11 23:14] #74 closed, assigned to nobody

[2017-12-20 06:45] baignomi commented on #2
@thinkingserious
Replace does not work.

[2017-12-20 08:00] thinkingserious commented on #2
@baignomi,

Yes, you are correct. This issue is yet to be resolved. You can follow this thread for progress.

Thanks!

With Best Regards,

Elmer

[2018-01-23 17:23] maelcaldas commented on #2
Hi Elmer, do you have an ETA for this issue? This is the only thing that is blocking us from moving our mail infrastructure to SendGrid... Thanks :-)

[2018-01-23 17:27] thinkingserious commented on #2
@andy-trimble,

Is this something you still would like to tackle? Thanks!

[2018-01-23 19:50] andy-trimble commented on #2
Ah, yes @thinkingserious. I completely forgot about this one. I'll take a crack at it.

[2018-01-24 22:33] thinkingserious commented on #2
Awesome!

[2018-02-27 20:33] outkaj opened #91 "JDK 9 support"
#### Issue Summary

The Sendgrid Java Http Client dependency on version 1.10.19 of mockito-core leads to the following warning when running a Scala project using JDK 9:

[code]

I assume pure Java 9 projects would have a similar issue.

As mentioned in [this issue](https://github.com/mockito/mockito/issues/1295), the warning can be avoided by upgrading to mockito version 2.13.0.

#### Steps to Rep

[2018-02-28 19:50] thinkingserious commented on #91
Thanks for taking the time to report this @outkaj!

Mokito should only be necessary for development work on this library. [Moving Mokito to a test dependency](https://github.com/mockito/mockito/wiki/Declaring-mockito-dependency) should do the trick also.

This issue has been added to our backlog for a fix.

With Best Regards,

Elmer

[2018-02-28 22:01] #81 closed, assigned to nobody

[2018-02-28 22:01] #60 closed, assigned to nobody

[2018-02-28 22:01] #53 closed, assigned to nobody

[2018-02-28 22:01] #49 closed, assigned to nobody

[2018-02-28 22:01] #44 closed, assigned to nobody

[2018-02-28 22:02] #37 closed, assigned to nobody

[2018-02-28 22:02] #21 closed, assigned to nobody

[2018-02-28 22:02] #18 closed, assigned to nobody

[2018-02-28 22:03] thinkingserious commented on #91
It looks like [this is done](https://github.com/sendgrid/java-http-client/issues/18), we just need to deploy the fix.

[2018-02-28 22:03] #91 closed, assigned to nobody

[2018-10-03 13:20] thinkingserious opened #94 "Implement auto-deploy to package manager"
#### Issue Summary

When all tests on the master branch pass in Travis CI, we would like to auto-deploy the release to the package manager.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* when Travis CI passes all tests on the master branch we auto-deploy to the package

[2018-10-04 13:17] thinkingserious opened #95 "Require conformance to style standards"
#### Issue Summary

In the `CONTRIBUTING.md` file there is a section on Style Guidelines & Naming Conventions. Please review and implement a check in Travis CI. If there are any style errors, either fix or create a rule to exclude the error.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Ace

[2018-10-05 14:17] thinkingserious opened #96 "Run our *.md documents in this repo through the Grammer.ly service and update"
#### Issue Summary

We would like to get our English polished up throughout the repo.

#### Aceptance Criteria

* Every .md file in this repo has been run through the Grammer.ly service and updated accordingly

[2018-10-05 16:40] ssiddhantsharma commented on #96
@thinkingserious Got it! Automating my scripts to get this done.

[2018-10-08 20:47] thinkingserious opened #99 "Create first time contributor documentation"
#### Issue Summary

Our open sourced documentation has a great [first time contributor page](https://github.com/sendgrid/docs/blob/develop/first-timers.md) that we wish to duplicate here.

#### Acceptance Criteria

* We have a file in the root directory called first-timers.md or similar that helps a first time contributor make their first PR (please use our CONTRIBUTOR.md file for inspiration as w

[2018-10-10 00:59] thinkingserious opened #100 "Auto-generate the CHANGELOG.md file upon release"
#### Issue Summary

For every release, we currently hand craft a CHANGELOG.md update, now we would like to automate this process. Please see the existing CHANGELOG.md for formatting structure.

#### Acceptance Criteria

* A script, which when run, creates a CHANGELOG.md update based on any merged PRs since the last release.

[2018-10-12 17:33] thinkingserious commented on #96
Thanks @ssiddhantsharma!

[2018-10-13 03:54] thinkingserious opened #102 "Document new Git workflow in CHANGELOG.md"
#### Issue Summary

We want to update our git workflow to function more like [Gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow). We need to update the CONTRIBUTING.md file and PULL_REQUEST_TEMPLATE to direct contributors to fork/branch off the `development` branch and to merge their PRs with the `development` branch. Once this issue is complete, we will be crea

[2018-10-19 06:58] thinkingserious opened #105 "Auto-generate the release notes upon release"
#### Issue Summary

For every release, we hand craft the release notes on GitHub, now we would like to automate this process. Please see the existing [release notes](https://github.com/sendgrid/java-http-client/releases) for an example. The contents of the release notes are generated from the CHANGELOG.md file. [Here](https://developer.github.com/v3/repos/releases/#create-a-release) is the documen

[2018-10-20 02:00] yeoji commented on #100
I have gave this issue a go and opened a PR for it :)

[2018-10-26 11:05] berry120 commented on #105
@thinkingserious I'd like to grab this if available. Any preference for the language the script is written in? Happy to do it in Java, or something else if you prefer.

[2018-10-30 18:33] thinkingserious opened #112 "Add our Developer Experience Engineer career opportunity to the README"
#### Issue Summary

The role of Developer Experience Engineer just became available and we want to announce it in the README. Here is the copy:

If you're a software engineer who is passionate about #DeveloperExperience and/or #OpenSource, [this is an incredible opportunity to join our #DX team](https://sendgrid.com/careers/role/1421152/?gh_jid=1421152) as a Developer Experience Engineer and work

[2018-10-30 18:46] luciajimenez commented on #112
I'm taking this one.

[2018-10-30 19:03] mptap commented on #112
@thinkingserious: Have raised PR for this: https://github.com/sendgrid/java-http-client/pull/113

[2018-11-02 20:42] #112 closed, assigned to nobody

[2018-11-13 00:54] ifcwlme commented on #10
I think the problem haven't solved yet.

I am trying to get error response message from Response object. But the api call throws IOException, which should happen only when there is network error.
![1](https://user-images.githubusercontent.com/1567613/48383635-8cfb0c00-e721-11e8-92b5-68b4629b7755.png)

For http response code 400, 401, 413 error, It should be handled by Response java object, instead

[2018-12-08 15:56] bashoogzaad commented on #2
What is the status for this fix? I am also using App Engine and running into the same issue. I am using my own http utils in App Engine for now, but would love to use this library.

[2019-02-12 21:56] szeidner commented on #2
I am also curious what the status of this issue is. I just tried to create a SendGrid instance in Android and got:
`java.lang.NoSuchFieldError: No static field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier;`

[2019-03-28 15:44] Glennmen commented on #2
Is this still being worked on? I am currently having the same issue in Android.

[2019-04-04 07:33] walker142 commented on #2
Hi there, I was just wondering if this issue is still being worked on as I am currently experiencing the same issue, or is there even a work around for the time being to get my Android app to send an email? Thanks

[2019-04-12 08:06] baudoliver7 opened #114 "Error when sending an email through SendGrid API on android 6 project"
#### Issue Summary

SendGrid doesn't work on android Level 23+ because HttpClient of Apache which one java-http-client has based on, has been removed from Android 6.

#### Steps to Reproduce

1. Have an android 6 project
2. Import sendgrid-java:4.3.0
3. Try to send an email through Sendgrid API
4. You get an error in SendGrid constructor

Details of error :
java.lang.NoSuchFieldError: No static fi

[2019-04-16 15:41] thinkingserious commented on #114
Hello @AigleRoyal7,

I believe this is a duplicate of https://github.com/sendgrid/java-http-client/issues/2. Please follow along there for progress. Thanks!

With Best Regards,

Elmer

[2019-04-16 15:41] #114 closed, assigned to nobody

[2019-09-16 19:42] kebeda opened #116 "Bring Apache HttpComponents dependencies current"
#### Issue Summary

java-http-client 4.1.0 currently depends on org.apache.httpcomponents:httpcore:4.4.4, upgrade this to 4.4.12. It also depends on org.apache.httpcomponents:httpclient:4.5.2, upgrade this to 4.5.10.

This reduces enforcer violations when combined with any of the popular libraries that also depend upon httpcomponents (e.g., aws-java-sdk), and makes it easier to compile/use with Ja

[2019-09-17 14:05] kebeda opened #118 "Unable to test under Java 11"
#### Issue Summary

Although java-http-client compiles just fine with the Java 11 JDK, maven is unable to run the test command because of a dependency on an inappropriate version of the jacoco-maven-plugin. Bringing this dependency current will allow testing on Java 11 as well as all previous JDKs.

#### Steps to Reproduce

1. Make sure maven is using a Java 11 JDK
2. `mvn test`

I expect to be ab

[2019-11-08 23:38] thinkingserious commented on #116
Thank you @kebeda!

[2019-11-08 23:38] #116 closed, assigned to nobody

[2020-03-06 04:49] thinkingserious commented on #118
Hello @kebeda,

It looks like we are now up to date now. That said, thanks so much for taking the time to report this and to submit a PR. Much appreciated!

With best regards,

Elmer

[2020-03-06 04:49] #118 closed, assigned to nobody

[2020-03-13 17:43] johnnyzen commented on #2
What is the status of this issue? Does this completely stop the library working on Android?

[2020-03-13 18:07] childish-sambino commented on #2
@johnnyzen As far as I know, it's not currently being worked on. The original request was to allow for better usage within Google App Engine; not Android even though a fix may impact both.

That said, interacting with SendGrid APIs that require auth is not recommended from a client/app/browser. Doing so requires potentially exposing credentials to the end user. The APIs should be invoked by a back

[2020-04-26 18:12] vmfox commented on #2
Is there any (simple) solution at this point?

I have already spent/wasted 2 days trying to integrate SendGrid into my app and every single time it either fails because of the:
java.lang.NoSuchFieldError: No static field INSTANCE of type org/apache/http/conn/ssl/AllowAllHostnameVerifier; #588

or the duplication of libraries, or something else. This is particularly frustrating and with the issue f

[2020-05-31 12:15] digsub commented on #2
After appeasing a build exception due to More than one file was found with OS independent path 'META-INF/DEPENDENCIES' in my issue #625, I'm now also stuck with java.lang.NoSuchFieldError: No static field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier

Misery loves company.

[2020-07-16 19:40] childish-sambino commented on #105
Closing as we're now using internal tooling for this.

[2020-07-16 19:40] #105 closed, assigned to nobody

[2020-07-16 19:40] childish-sambino commented on #100
Closing as we're now using internal tooling for this.

[2020-07-16 19:40] #100 closed, assigned to nobody

[2020-07-16 19:48] childish-sambino commented on #94
Fixed by https://github.com/sendgrid/java-http-client/pull/123

[2020-07-16 19:48] #94 closed, assigned to nobody

[2020-07-17 21:10] childish-sambino commented on #102
Closing as we're no longer going with this change of workflow.

[2020-07-17 21:10] #102 closed, assigned to nobody

[2020-07-24 18:32] childish-sambino commented on #82
Merged: https://github.com/sendgrid/java-http-client/commit/4d10515774925edb5ff6728537cbd23a919b127a

[2020-07-24 18:32] #82 closed, assigned to nobody

[2020-07-29 16:03] #83 closed, assigned to nobody

[2020-08-11 17:10] #99 closed, assigned to nobody

[2020-08-14 17:47] #96 closed, assigned to nobody

[2020-12-06 17:03] neelabhtiwari opened #129 "Stats for multiple categories in one API call"
### Issue Summary
Sendgrid API v3 Reference for categories/stats endpoints states that API call can be made to get stats for upto 10 categories.
However, it does not provide any reference for how to make that API call. I checked the code for addQueryParam here
https://github.com/sendgrid/java-http-client/blob/main/src/main/java/com/sendgrid/Request.java
which takes categories as only key-value pai

[2021-01-08 01:20] thinkingserious commented on #129
Hello @neelabhtiwari,

You would call the `addQueryParam` function multiple times, [like so](https://github.com/sendgrid/java-http-client/blob/51fcea76c870749013d5d9fc9e09c68111af1f7f/examples/Example.java#L22).

Please let me know if that solves your issue. Thank you!

With best regards,

Elmer

[2021-02-02 05:51] neelabhtiwari commented on #129
Hi Elmer,

Apologies for late reply but I had actually tried this already. This doesn't work. The addQueryParam will just replace the previously set category with the latter one. Please see the following example -

[code]

Expected would be to get category stats for all three categories but it would just replace the category value with the latest one i.e. prod.

Thanks & Regards,
Neelabh

[2021-02-02 23:40] JenniferMah commented on #129
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2021-02-03 06:11] neelabhtiwari commented on #129
+1
Would you like us to raise a priority support request on this feature from our enterprise account? Let me know if that helps in moving this up the backlog.

[2021-03-11 03:21] thinkingserious commented on #87
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 03:21] #87 closed, assigned to nobody

[2021-03-11 03:21] thinkingserious commented on #95
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 03:21] #95 closed, assigned to nobody

[2021-03-11 03:22] thinkingserious commented on #19
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 03:22] #19 closed, assigned to nobody

[2021-04-20 13:51] akandybaev opened #130 "Store HTTP headers in case-insensitive map"
### Issue Summary
While creating `Response` object the library puts all headers in `java.util.HashMap` which is case-sensitive (see: https://github.com/sendgrid/java-http-client/blob/main/src/main/java/com/sendgrid/Client.java#L163). It works fine when nothing messes up with headers. But when, for example, Istio sidecar is running along the application that uses SendGrid envoy proxy lower-cases al

[2021-04-21 18:51] thinkingserious commented on #130
Hi @akandybaev!

Thank you for the suggestion along with the detailed explanation!

This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

With best regards,

Elmer

[2021-05-15 16:04] akunzai opened #132 "Apache HttpClient have known vulnerabilities"
### Issue Summary

Apache HttpClient versions prior to version 4.5.13 and 5.0.3 can misinterpret malformed authority component in request URIs passed to the library as java.net.URI object and pick the wrong target host for request execution.

- https://snyk.io/vuln/SNYK-DEBIAN9-HTTPCOMPONENTSCLIENT-1016928

### Technical details:
* java-http-client version: 4.3.6
* java version: 1.8

[2021-05-17 19:45] #132 closed, assigned to nobody

[2022-02-02 21:41] #129 closed, assigned to nobody

[2022-02-10 12:30] romiSG opened #140 "Getting 'null' response from sendgrid API"
From our Project, through our Integration layer i.e. Oracle SOA/OSB, we are sending mail requests to be sent to customers using the API URL - 'https://api.sendgrid.com/v3/mail/send'.

Intermittently, we get 'null' in response after activating.

Every day there is almost 50+ cases which face this issue.

{{[http://xmlns.oracle.com/ServiceBusApplication/DistributeNotificationEBS/DistributeNotificati

[2022-02-10 18:53] JenniferMah commented on #140
Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at [support.sendgrid.com](https://support.sendgrid.com/hc/en-us).

[2022-02-10 18:53] #140 closed, assigned to nobody

[2022-02-22 19:28] yamanjain commented on #2
Still the same problem in 2022 !!